* {
    box-sizing: border-box;
}

body {
    font-family: 'Muli', sans-serif;
    overflow: hidden;
    margin: 0;
    background: #09141b;
    /*background: #181625;*/
    /*background: #202120;*/
    color: #fff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    display: flex;

    justify-content: center;
    align-items: center;

    padding: 0 20px;
}

.card {
    position: relative;
    border-radius: 5px;
    margin-right: -16px;
}

.card .title {
    height: 80px;
    font-size: 64px;
    margin: 0 0 5px 0;
    position: relative;
}

.card .title:before {
    content:"";
    display: block;
    width: 90px;
    height: 90px;
    border-radius: 5px;
    background: linear-gradient(125deg, #fd880b 0%, #ec5a39 50%, #ec5a39 100%);
    position: absolute;
    z-index: -1;

    transition: all 0.5s ease-in 0.4s;
    opacity: 1;

    top: -10px;
    left: -16px;
}

.card .subtitle {
    font-size: 0.7em;
    margin: 0;

    transition: all 0.5s ease-in 0.4s;
    opacity: 1;
    position: absolute;
    left: 0;
}

.is-not-loaded .title:before {
    opacity: 0;
    top: -20px;
    left: -26px;
}
.is-not-loaded .subtitle {
    opacity: 0;
    left: 35px;
}
